<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <style>
        .menu-container {
            text-align: center;
            margin-top: 100px;
        }
        .menu-title {
            font-size: 32px;
            font-weight: bold;
        }
        .menu-images {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        .menu-images img {
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="menu-container">
        <div class="menu-title">Menu</div>
        <div class="menu-images">
            <img src="image1.jpg" alt="Image 1">
            <img src="image2.jpg" alt="Image 2">
            <img src="image3.jpg" alt="Image 3">
        </div>
    </div>
</body>
</html>